.code-buttons.d-flex.flex-wrap.focus-code-on-click
  .btn-group
    %button.highlight-off-button.btn.btn-xs.btn-outline-secondary{type:'button', onclick:"$(this).closest('.codeBox').trigger('syntaxhighlightoff');return document.aautil.cancelBubble();"}
      Plain text
    %button.highlight-on-button.btn.btn-xs.btn-outline-secondary{type:'button', onclick:"$(this).closest('.codeBox').trigger('syntaxhighlighton');return document.aautil.cancelBubble();"}
      Highlight syntax
    %button.highlight-both-button.btn.btn-xs.btn-outline-secondary{type:'button', onclick:"$(this).closest('.codeBox').trigger('syntaxhighlightboth');return document.aautil.cancelBubble();"}
      Side by side
  .btn-group.highlight-style.ml-auto
    %button.highlight-blocky-button.btn.btn-xs.btn-outline-secondary{type:'button', onclick:"$(this).closest('.codeBox').trigger('syntaxhighlightblocky');return document.aautil.cancelBubble();"}
      Block-outline highlighting 
    %button.highlight-basic-button.btn.btn-xs.btn-outline-secondary{type:'button', onclick:"$(this).closest('.codeBox').trigger('syntaxhighlightbasic');return document.aautil.cancelBubble();"}
      Simple highlighting
