<div class='code-buttons d-flex flex-wrap focus-code-on-click'>
<div class='btn-group'>
<button class='highlight-off-button btn btn-xs btn-outline-secondary' onclick='$(this).closest(&#39;.codeBox&#39;).trigger(&#39;syntaxhighlightoff&#39;);return document.aautil.cancelBubble();' type='button'>
Plain text
</button>
<button class='highlight-on-button btn btn-xs btn-outline-secondary' onclick='$(this).closest(&#39;.codeBox&#39;).trigger(&#39;syntaxhighlighton&#39;);return document.aautil.cancelBubble();' type='button'>
Highlight syntax
</button>
<button class='highlight-both-button btn btn-xs btn-outline-secondary' onclick='$(this).closest(&#39;.codeBox&#39;).trigger(&#39;syntaxhighlightboth&#39;);return document.aautil.cancelBubble();' type='button'>
Side by side
</button>
</div>
<div class='btn-group highlight-style ml-auto'>
<button class='highlight-blocky-button btn btn-xs btn-outline-secondary' onclick='$(this).closest(&#39;.codeBox&#39;).trigger(&#39;syntaxhighlightblocky&#39;);return document.aautil.cancelBubble();' type='button'>
Block-outline highlighting
</button>
<button class='highlight-basic-button btn btn-xs btn-outline-secondary' onclick='$(this).closest(&#39;.codeBox&#39;).trigger(&#39;syntaxhighlightbasic&#39;);return document.aautil.cancelBubble();' type='button'>
Simple highlighting
</button>
</div>
</div>
