.toggle-group.toggle-modal.modal-message-links.relative{toggle:'delete'}
  .toggle.big-if-modal.relative{toggle:'delete'}
    .delete-subtemplate{variant:"messagelink", title_field:'${title||"Delete"}', message_field:"delete"}
