%span{style:"order: ${${{order}}|0};"}
  // ${topLevelSortOrdinal} possibly used by the wrapper, this forces it to be included in the model
  // ${sortOrdinal} possibly used by the wrapper, this forces it to be included in the model
  %span.anchor-link-bubble.model-draggable{draggable:'true', dragcontextmodelid:'${{contextmodel}}', dragcontextfield:'${{contextfield}}'}
    %a.model-anchor.grey-link{draggable:'false', href:'#${{__basemodel}}${{anchor|}}'}<
      ${breadcrumbTitle|?}
  %span.model-drag-space{dragcontextmodelid:'${{contextmodel}}', dragcontextfield:'${{contextfield}}', aftermodelid:'${{__basemodel}}'}
    &nbsp;
  