.editable-model-field.nobo-draggable.nobo-dragee(drop-event="${key=this['text/plain']}"
  drag-data="${key}")
  %span<
    ⦙
  %span.editable.posting-text(contentEditable="true"
    onblur="${key=this.textContent}")<
    ${key}
