.image3d.full-height{oninsertmodel:'setTimeout(function(){document.render.attach("#${__id} .PNGRender");},10);', onchangemodel:'var el=$("#${__id} .PNGRender");if (el.length&&el[0].render) el[0].render.refreshDataPNG();'}
  .PNGRender.full-size{dataPNG:'${image3dUrl||"/empty_render.png"}', showFaces:'1', showOutline:'1', showWireframe:'0'}
