<div class='code-buttons'>
<div class='btn-group'>
<button class='highlight-off-button btn btn-xs btn-default disabled' onclick='$(this).closest(&#39;.codeBox&#39;).trigger(&#39;syntaxhighlightoff&#39;);' type='button'>
Plain text
</button>
<button class='highlight-on-button btn btn-xs btn-default' onclick='$(this).closest(&#39;.codeBox&#39;).trigger(&#39;syntaxhighlighton&#39;);' type='button'>
Highlight syntax
</button>
</div>
<div class='btn-group highlight-style pull-right'>
<button class='highlight-blocky-button btn btn-xs btn-default disabled' onclick='$(this).closest(&#39;.codeBox&#39;).trigger(&#39;syntaxhighlightblocky&#39;);' type='button'>
Block-outline highlighting
</button>
<button class='highlight-basic-button btn btn-xs btn-default' onclick='$(this).closest(&#39;.codeBox&#39;).trigger(&#39;syntaxhighlightbasic&#39;);' type='button'>
Simple highlighting
</button>
</div>
</div>
