.textWithField.inline-block.posting-text-parent{lines:'${{lines|single}}'}
  %span.editable.posting-text{contentEditable:'true', lines:'${{lines|single}}', message:'${message|}', name:"${name}", model:'${__model}'}<
    ${title}
}
