.templatechild{oninsertmodel:"$(this).fadeIn(500);", onremovemodel:"$(this).fadeOut(500);return 500;"}
  .field.lead
    Field: ${domField|<none>} (dom), ${modelField|<none>} (model)
  .field
    Key: ${templateKey|<none>}
  .class
    Key: ${classFilter|<none>}
