.templatechild{oninsertmodel:"$(this).fadeIn(500);", onremovemodel:"$(this).fadeOut(500);return 500;"}
  .field.lead
    Field: ${domField|%lt;none%gt;} (dom), ${modelField|%lt;none%gt;} (model)
  .field
    Key: ${templateKey|%lt;none%gt;}
  .class
    Key: ${classFilter|%lt;none%gt;}
