//Compass
//@import "compass/css3";

//Fonts
//@include font-face("Novel-Sans", font-files("novel-sans-bold.ttf", "novel-sans-bold.woff"), "novel-sans-bold.eot", 600, bold);

//@include font-face("Novel-Sans", font-files("novel-sans-light.ttf", "novel-sans-light.woff"), "novel-sans-light.eot", 200);

//@include font-face("Novel-Sans", font-files("novel-sans-regular.ttf", "novel-sans-regular.woff"), "novel-sans-light.eot", 300);

//@include font-face("Novel-Sans", font-files("novel-sans-semibold.ttf", "novel-sans-semibold.woff"), "novel-sans-semibold.eot", 400, normal);

$body-font: "Open Sans", Helvetica, Arial, sans-serif;
$heading-font: "Novel-Sans", Helvetica, Arial, sans-serif;
$article-font: "Merriweather", serif;

//Colours
$aquamarine: #22BFBC;
$purple: #75649d;
$dark-cyan: #059C99;
$red: #FF6981;
$orange: #ff8763;

$medium-grey: #777777;
$blue: #4183d0;
$wine: #df817d;
$sand: snow;
$latte: #e5ddcb;
$red: rgb(204, 30, 58);
$green: #42C17F;
$bubble-colour: whitesmoke;
$border-colour: rgba(black, 0.1);
$link:#10B0B9;

$developer: #FEC006;
$nurse: #FF6981;
$patient: #8CC800;

$txt-color: $medium-grey;
$heading-color: #6a7d7d;
//$heading-color: #3E8E8D;
$mood-color: #FFC900;
$pain-color: #F55976;
$fatigue-color: #4183D0;
$weight-color: #8BB049;
$glucose-color: #F55976;
$steps-color: #075F93;


//icons
$love-icon: url(core/emoticon-love.svg);
$surprise-icon: url(core/emoticon-surprise.svg);
$sad-icon: url(core/emoticon-sad.svg);
$wink-icon: url(core/emoticon-wink.svg);
$smile-icon: url(emoticon-smile.svg);

//Mixins
@mixin hide-text {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  }

//generic styles
.badge.nurse {
  background: $nurse;
  }

.badge.developer {
  background: darken($developer, 5%);
  letter-spacing: 0.045em;
  font-weight: 200;
  text-shadow: 1px 1px 0px rgba(150, 150, 150, 0.7);
  }

.badge.patient {
  background: $patient;
  }
