.job-progress
  .progress-bar.progress-bar-info.wsnowrap{role:"progressbar", "aria-valuenow"=>"${progress||'$3'}", "aria-valuemin"=>"0", "aria-valuemax"=>"100", style:"width:${progress||'$3'}%;${finishedAt?\"display:none;\":\"\"}"}
    &nbsp;&nbsp;&nbsp;${progress||'$3'}%&nbsp;complete:&nbsp;${result||'$3'}
