.code-buttons.d-flex.flex-wrap.focus-code-on-click
  .btn-group.mr-auto
    %button.highlight-off-button.btn.btn-tiny.btn-xs.btn-outline-secondary{type:'button', onclick:"$(this).closest('.codeBox').trigger('syntaxhighlightoff');return document.aautil.cancelBubble();"}
      Plain
    %button.highlight-on-button.btn.btn-tiny.btn-xs.btn-outline-secondary{type:'button', onclick:"$(this).closest('.codeBox').trigger('syntaxhighlighton');return document.aautil.cancelBubble();"}
      Highlight
  .btn-group.highlight-style.ml-auto
    %button.highlight-blocky-button.btn.btn-tiny.btn-xs.btn-outline-secondary{type:'button', onclick:"$(this).closest('.codeBox').trigger('syntaxhighlightblocky');return document.aautil.cancelBubble();"}
      Blocky
    %button.highlight-basic-button.btn.btn-tiny.btn-xs.btn-outline-secondary{type:'button', onclick:"$(this).closest('.codeBox').trigger('syntaxhighlightbasic');return document.aautil.cancelBubble();"}
      Simple
